
@{
    ViewData["Title"] = "games";
}




@*<!-- Page info section -->
<section class="page-info-section set-bg" data-setbg="../img/page-top-bg/3.jpg">
    <div class="pi-content">
        <div class="container">
            <div class="row">
                <div class="col-xl-5 col-lg-6 text-white">
                    <h2>Game reviews</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec malesuada lorem maximus mauris scelerisque, at rutrum nulla dictum.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Page info section -->*@
<!-- Page section -->
<section class="page-section review-page spad">
    <div class="container">
        <div class="row">
            @foreach (Juego a in Model)
            {<a href="@Url.Action("Index", "Juegos", new { nombre = a.Nombre })" >
    <div class="col-md-6">
        <div class="review-item">
            <img class="review-cover set-bg" src="~/img/Carrusel/@a.Imagen" />
            <div class="score yellow">@a.ValoracionTotal</div>
            <div class="review-text">
                <h4>@a.Nombre</h4>
                <div class="rating">
                    <form method="post">
                        <p class="clasificacion">
                            <input hidden type="text" name="nombre" value="@a.Nombre">
                            <input id="@a.Nombre+1" type="radio" name="estrellas" value="5" onchange="this.form.submit()">
                            <label for="@a.Nombre+1">★</label>
                            <input id="@a.Nombre+2" type="radio" name="estrellas" value="4" onchange="this.form.submit()">
                            <label for="@a.Nombre+2">★</label>
                            <input id="@a.Nombre+3" type="radio" name="estrellas" value="3" onchange="this.form.submit()">
                            <label for="@a.Nombre+3">★</label>
                            <input id="@a.Nombre+4" type="radio" name="estrellas" value="2" onchange="this.form.submit()">
                            <label for="@a.Nombre+4">★</label>
                            <input id="@a.Nombre+5" type="radio" name="estrellas" value="1" onchange="this.form.submit()">
                            <label for="@a.Nombre+5">★</label>
                            <input id="nombre" type="hidden" name="nombre" value="@a.Nombre">
                    </form>
                </div>
               
            </div>
        </div>
    </div>
</a>
            }
        </div>
      
    </div>
</section>
<!-- Page section end -->


@*<!-- Review section -->
<section class="review-section review-dark spad set-bg" data-setbg="../img/review-bg-2.jpg">
    <div class="container">
        <div class="section-title text-white">
            <div class="cata new">new</div>
            <h2>Recent Reviews</h2>
        </div>
        <div class="row text-white">
            <div class="col-lg-3 col-md-6">
                <div class="review-item">
                    <div class="review-cover set-bg" data-setbg="../img/review/1.jpg">
                        <div class="score yellow">9.3</div>
                    </div>
                    <div class="review-text">
                        <h5>Assasin’’s Creed</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit ame.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="review-item">
                    <div class="review-cover set-bg" data-setbg="../img/review/2.jpg">
                        <div class="score purple">9.5</div>
                    </div>
                    <div class="review-text">
                        <h5>Doom</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit ame.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="review-item">
                    <div class="review-cover set-bg" data-setbg="../img/review/3.jpg">
                        <div class="score green">9.1</div>
                    </div>
                    <div class="review-text">
                        <h5>Overwatch</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit ame.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="review-item">
                    <div class="review-cover set-bg" data-setbg="../img/review/4.jpg">
                        <div class="score pink">9.7</div>
                    </div>
                    <div class="review-text">
                        <h5>GTA</h5>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisc ing ipsum dolor sit ame.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Review section end -->*@
