@{
    ViewData["Title"] = "_menuCliente";
}
@if (Context.User.Identity.IsAuthenticated)
{
    

    <a href="@Url.Action("Perfil", "Juegos")">Perfil    /</a>
    <a href="@Url.Action("CerrarSesion", "Validador")">Cerrar sesión</a>

    <div style="text-align:center">
        <h5>Hola <span style="color:red">@Context.User.Identity.Name</span></h5>
    </div>
}
else
{
    //LINK DE LOGIN
    <a href="@Url.Action("Login", "Validador")">Login /</a>
    <a href="@Url.Action("NuevoRegistro", "Validador")"> Register </a>


}


